:root {
    --text-color-text: #2c3e50;
}

h1 {
    color: var(--text-color-text);
    font: bold 3em/1em 'Open Sans' !important;

}

p {
    color:var(--text-color-text)
}

body.dark {
    --text-color-text: #FFFFFF;
}


#logo_image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.title-under-logo {
    padding-top: 5em;
}

.home-image{
    float: right;
    margin: 40px;
}



@media (max-width: 790px) {
    #logo_image {
        width: 80%;
    }

    .title-under-logo{
        padding-top: 3.5em;
    }

    .home-image{
        margin: 0;
    }

}