:root {
    --text-color-text: #2c3e50;
    --nav-color: #08c447;

}

h1 {
    color: var(--text-color-text);
    font: bold 3em/1em 'Open Sans' !important;

}

p {
    color: var(--text-color-text)
}

body.dark {
    --text-color-text: #FFFFFF;
}


#logo_image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 70%;
}

.title-under-logo {
    padding-top: 5em;
    float: left;
    padding: 1em;
    text-align: left;
    transform: rotate(-15deg);
    font: bold 3em/9em 'sans-serif';
    color: var(--text-color-text)
}

.home-image {
    float: right;
    margin: 40px;
}

.conatiner_landing_page {
    margin-top: -8em;
}

.bg-green {
    background-color: var(--nav-color)!important;
}


#button-group {
    display: none!important;
}

@media (max-width: 790px) {

    #button-group {
        display: inline-flex!important;
    }
    #logo_image {
        width: 150%;
    }

    .title-under-logo {
        padding-top: 3.5em;
        padding-top: 5em;
        float: none;
        padding: 0;
        text-align: left;
        transform: rotate(-15deg);
        font: bold 2em/10.5em 'sans-serif' !important;
        margin-bottom: -2.5em;

    }

    .home-image {
        margin: 0;
    }
    .conatiner_landing_page{
        margin-top: unset;
    }

    .reservDetails-inputfield{
        width: 40%!important;
    }

    .img-gameconsole {
        display: none;
    }
}

.text-color {
    color: #08c447 !important;
}

.img-gameconsole {
    width: 400px;
    height: 275px;
}

.box-right {
    position: absolute;
    top: 10em;
    right: 0;
}

[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {
  display: none;
}